<div class="register-page">
  <h2>Register</h2>
  <form [formGroup]="registerForm">
    <div>
      <div class="justify-content-center">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
      </div>
      <div class="justify-content-center">
        <mat-form-field appearance="outline">
          <mat-label>User name</mat-label>
          <input matInput type="text" formControlName="username">
        </mat-form-field>
      </div>
      <div class="justify-content-center">
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput type="text" formControlName="firstname">
        </mat-form-field>
      </div>
      <div class="justify-content-center">
        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput type="text" formControlName="lastname">
        </mat-form-field>
      </div>
      <div class="justify-content-center">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>
      <div class="justify-content-center">
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
        </mat-form-field>
      </div>
    </div>
    <div id="controls" class="rows">
      <button style="width: 20%" [disabled]="registerForm.invalid" (click)="submit()" mat-flat-button color="primary">Register</button>
      <a routerLink="/login">Login</a>
    </div>
  </form>
</div>
